.header-container{
    height:100px;
    width: 100%;
    background-color: #123F87;
    padding-left: 10px;
    align-items: center;
    box-sizing: border-box;
   justify-content: space-between;
    display: flex;
}

.header-img-container{
    height: 40px;
}
.header-buttons{
    
    height: 40px;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: 0px;
    color:123F87 ;
    font: normal normal bold 14px/17px Montserrat;
    padding-right: 1px;
    align-items: center;
    display: flex;
}
.header-buttons:hover{
    color: #3e7ada ;
    border: 2px solid;
    
    }
    
.header-cart-items-num{
    background-color: #60A5CA;
    color: white;
    height: 40px;
    box-sizing: border-box;
    padding: 10px;
    margin-left: 5px;
    margin-right: 0px;
}

.user-profile-icon{
    color: #6da1f5 ;
    cursor: pointer;
}

.user-profile-icon:hover{
    color: white;
}

.header-buttons-container{
    justify-content: space-around;
    width: 40%;
    display: flex;

}